h1 {
    background: #5cbdc0;
}

/* 
RGB: 
    RED
    GREEN
    BLUE

DECIMAL (10) => 0, 1, 2, 3, 4, 5, 6, 7, 8, 9

HEXADECIMAL (16) => 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, A, B, C, D, E, F

https://color.adobe.com/pt/create/color-wheel

https://www.w3schools.com/css/css_colors_rgb.asp

https://coolors.co/palettes/trending

https://chrome.google.com/webstore/detail/colorzilla/bhlhnicpbhignbdhedgjhgdocnmhomnp
*/